* {
    font-family: 'Catamaran', sans-serif;
  }

  .font {
    font-family: 'Open Sans', sans-serif;
  }

  body {
    background-color: #f8f7f4;
  }
  .searchbox{

	width: 250px;

	height: 50px;

	background-color: white;

	border-radius: 30px;

	display: flex;

	align-items: center;

	padding: 20px;

}

.searchbox > i {

	font-size: 20px;

	color: #777;

}

.searchbox > input{

	flex: 1;

	height: 40px;

	border: none;

	outline: none;

	font-size: 18px;

	padding-left: 10px;


}

.token{
    width: 350px;
	height: 50px;
	background-color: white;
    margin-left: 35%;
    margin-top: 100px;
	border-radius: 30px;
	display: flex;

	align-items: center;
    justify-content: center;

	padding: 20px;
}

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

.media-scroller {
  --_spacer: var(--size-3);
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
  grid-auto-columns: 21%;

  padding:  var(--_spacer) var(--_spacer);

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-scroller--with-groups {
  grid-auto-columns: 80%;
}

.media-group {
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
}

.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  padding: var(--_spacer);
  background: var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 4 / 5 ;
  object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

/* general styling */

.container {
  inline-size: min(100% - 4rem, 70rem);
  margin-inline: auto;
}

.flow {
  display: grid;
  gap: var(--size-3);
}

.page-header {
  padding-block: var(--size-9);
  margin-block-end: var(--size-9);
  background: var(--gradient-16);
  color: var(--gray-0);
  box-shadow: var(--shadow-2);
}

.page-title {
  font-size: var(--font-size-fluid-3);
}

.page-subtitle {
  font-size: var(--font-size-fluid-1);
}

.section-title {
  padding-inline-start: var(--size-6);
  margin-block: var(--size-9) var(--size-3);
}

.imgclass{
	width: 80%;
	margin: 100px auto 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	grid-gap: 30px;
}

.imgclass img{
	width: 300px;
	cursor: pointer;
}

.btn{
    background: transparent;
    font-size: 20px;
    outline: none;
    color: grey;
}

.btn i:hover{
    cursor: pointer;
}